pkgbase = pesu-wifi-git
	pkgdesc = High-performance native Rust captive portal login manager and keepalive watchdog daemon for PES University WiFi
	pkgver = 3.0.1.r0.g1472512
	pkgrel = 1
	url = https://github.com/imyash0722/pesu-wifi
	install = pesu-wifi.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = MIT
	makedepends = git
	makedepends = cargo
	depends = networkmanager
	provides = pesu-wifi
	conflicts = pesu-wifi
	options = !lto
	source = git+https://github.com/imyash0722/pesu-wifi.git
	sha256sums = SKIP

pkgname = pesu-wifi-git
