pkgbase = pesu-wifi-git
	pkgdesc = Automated captive portal login manager and keepalive watchdog daemon for PES University WiFi
	pkgver = 2.2.0.r5.g9fbbf9c
	pkgrel = 1
	url = https://github.com/imyash0722/pesu-wifi
	install = pesu-wifi.install
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-requests
	depends = networkmanager
	provides = pesu-wifi
	conflicts = pesu-wifi
	source = git+https://github.com/imyash0722/pesu-wifi.git
	sha256sums = SKIP

pkgname = pesu-wifi-git
